@forward '@angular/cdk/overlay-prebuilt.css';
@forward './variable-values';
@forward './fix';

html, body {
  margin: 0;
  font-family: 'sans-serif', system-ui;
  font-size: var(--font-size-3);
  font-weight: var(--font-weight-3);
}
